{% extends 'base.html' %}
{% load static %}

{% block title %}Delete essa imagem!{% endblock %}

{% block stylesheet %}
  <link rel="stylesheet" href="{% static 'css/simplemde.min.css' %}">
{% endblock %}

{% block javascript %}
  <script src="{% static 'js/simplemde.min.js' %}"></script>
  <script>
    var simplemde = new SimpleMDE();
  </script>
{% endblock %}

{% block breadcrumb %}
{% endblock %}

{% block content %}
<br><br>
<div class="container">
  <form method="post" enctype="multipart/form-data" novalidate>
    {% csrf_token %}
    <div class="row justify-content-center">
      <p>Você quer mesmo deletar sua imagem {{ object.experience_photo }}?</p>
    </div>
    <div class="row justify-content-center">
      <a href="/" class="btn btn-danger mx-2" >Cancelar</a>
      <button type="submit" class="btn btn-success">Deletar</button>
    </div>
  </form>
</div>
<br>
{% endblock %}