{% extends 'base.html' %}

{% block title %}Senha trocada com sucesso.{% endblock %}

{% block breadcrumb %}

      <ol class="breadcrumb my-4">
        <nav aria-label="breadcrumb">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link" href="/">Aventuras Kumm</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'accounts:profile' username=user %}">{{ user|slice:":25" }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'accounts:password_change' %}">Trocar senha</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active">Sucesso</a>
                </li>
            </ul>
        </nav>
      </ol>


{% endblock %}

{% block content %}
  <div class="alert alert-success" role="alert">
      Sua senha foi alterada com <strong>Sucesso!</strong>
  </div>
<br>
  <div class="row justify-content-center">
    <a href="{% url 'accounts:profile' username=user %}" class="btn btn-primary">Seu perfil</a>
  </div>
  <br>
{% endblock %}