{% extends 'base_accounts.html' %}

{% block title %}
  {% if validlink %}
    Trocar senha para {{ form.user.username }}
  {% else %}
    Resetar senha
  {% endif %}
{% endblock %}

{% block content %}
<br>
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8 col-sm-10">
      <div class="card">
        <div class="card-body">
          {% if validlink %}
            <h3 class="card-title">Mudar senha de @{{ form.user.username }}</h3>
            <form method="post" novalidate>
              {% csrf_token %}
              {% include 'includes/form.html' %}
              <button type="submit" class="btn btn-success btn-block">Trocar senha</button>
            </form>
          {% else %}
            <h3 class="card-title">Resetar senha</h3>
            <div class="alert alert-danger" role="alert">
              Parece que você digitou uma senha invalida tente novamente.
            </div>
            <a href="{% url 'accounts:password_reset' %}" class="btn btn-primary btn-block">Solicitar nova senha</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
<br>
{% endblock %}