{% extends 'base_accounts.html' %}

{% block title %}Resetar sua senha{% endblock %}

{% block content %}
<br>
  <div class="row justify-content-center">
    <div class="col-lg-4 col-md-6 col-sm-8">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Resetar sua senha</h3>
          <p style="text-align: justify;">Olhe sua caixa de e-mail e verifique o recebimento de um link. Se não receber em alguns instantes favor checar sua caixa de span.</p>
          <a href="{% url 'accounts:login' %}" class="btn btn-primary btn-block">Entrar</a>
        </div>
      </div>
    </div>
  </div>
<br>
{% endblock %}