Ola {{ user.username }},

Alguém solicitou uma nova senha para este email: {{ email }}.
Prossiga no link abaixo para obter nova senha:
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

Caso tenha esquecido seu nome de usuario no KummTrippers: {{ user.username }}

Caso ao clicar no link a cima e não ocorrer nada, tente copiar e colar
o URL em uma nova janela do seu navegador.

Caso você esteja recebendo esse email por engano, talvez outro usuario tenha
digitado seu endereço sem querer tentando recuperar sua senha. Se não foi você
que solicitou, favor desconsiderar e não prosseguir com nenhuma ação você pode
descartar esse email com segurança.

Grato,

KummTrippers
