{% extends 'base.html' %}
{% load static %}
{% load markup_tags %}
{% load humanize %}

{% block title %}Mudar senha{% endblock %}

{% block breadcrumb %}

      <ol class="breadcrumb my-4">
        <nav aria-label="breadcrumb">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link" href="/">Aventuras Kumm</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'accounts:profile' username=user %}">{{ user|slice:":25" }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active">Mudar senha</a>
                </li>
            </ul>
        </nav>
      </ol>

{% endblock %}

{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8 col-sm-10">
      <form method="post" novalidate>
        {% csrf_token %}
        {% include 'includes/form.html' %}
        <button type="submit" class="btn btn-success">Change password</button>
      </form>
    </div>
  </div>
</div>
<br>
{% endblock %}
